/* i phone 5/SE screen size*/
@media all and(max-width:320px) {
    header {
        width: 320px;
        height: 568px;
    }
}
#homie {
    background-color: black;
    font-style: italic;
    color: white;
}
h1 {
    font-family: cursive;
    font-style: italic;
    color:blue;
}
body {
     text-align: center;
}
.first /*container*/{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: transparent;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  
  }
   /*item*/ {
    border: 1px solid black;
    margin: 0.5em;
    padding: 0.5em;
  }
  .flex1 {
    flex-basis: 25%;
    border: transparent;
  }
.first {
    background-image: url("img/Lake.jpg");
}
#image-1 {
    background-size: 90%;
    background-position: center left;
    width: 100%;
    height: 600px;
    object-fit: cover;
    text-align: center;
}
#image-2 {
    opacity: 0.9;
    width: 100%;
    height: 600px;
    text-align: center;
}
#image-3 {
    width: 100%;
    height: 600px;
    text-align: center;
}
#image-4 {
    width: 100%;
    height: 600px;
    text-align: center;
}
#image-5 {
    width: 100%;
    height: 600px;
    text-align: center;
}
.cookie-banner {
    position: fixed;
    bottom: 40px;
    left: 10%;
    right: 10%;
    width: 80%;
    padding: 5px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:  black;
    background-color:yellow;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  /*if (localStorage.getItem(‘cookieSeen’) != ‘shown’) {
    $(‘.cookie-banner’).delay(2000).fadeIn();
    localStorage.setItem(‘cookieSeen’,’shown’)
  };
  $(‘.close’).click(function() {
    $(‘.cookie-banner’).fadeOut();
  })*/
  }
ul /*container*/{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: transparent;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
li /*item*/ {
    border: 1px solid black;
    margin: 0.5em;
    padding: 0.5em;
}
.flex1 {
    flex-basis: 25%;
    border: transparent;
}
.close {
    height: 20px;
    background-color: #777;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}
.dropdown  {
    position: relative;
    display: inline-block;
    border: transparent;
}
  
.dropbtn {
    background-color: lightgray;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:lightgreen;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content-a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content-a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: lightyellow;}

